/*ブラウンベース*/

body{
    background-color: burlywood;
}

#pageTitle{
    color: whitesmoke;
    background-color:brown;
    padding: 20px;
    text-align: center;
    margin: auto;

}

#mainContent{
	background-color:sandybrown;
}