
/*グレイベースのCSS*/
body{
    background-color: white;
}

#pageTitle{
    color: whitesmoke;
    background-color:lightslategray;
    padding: 20px;
    text-align: center;
    margin: auto;

}

#mainContent{
	background-color:darkgray;
}

#recent{
	color: black;
}

