<!DOCTYPE html>
<html lang="ja">
    <head>
        
        <meta charset="utf-8">

        <!--BootStrapのためのもの-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            
        <!-- CSSファイル -->
        <link th:href="@{/css/theme2.css}" rel="stylesheet" >
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
        
        <!-- 個別の色テーマ -->
        <link th:href="@{css/sample2.css}" rel="stylesheet" id="sampleCss">

		
        <title>マイルストーンリスト</title>

    </head>
    <body>
        <h1 id="pageTitle">マイルストーンリスト</h1>
        
        <!--パンくずリスト-->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Top</a></li>
              <!--<li class="breadcrumb-item"><a href="#">マイルストーンリスト</a></li>-->
              <li class="breadcrumb-item active" aria-current="page">マイルストーンリスト</li>
            </ol>
        </nav>


        <div>
            <div class="parentBox">
                <div class="childItem1">
					
					<h1 id="recent">マイルストーン</h1>
					
					 <table class="table table-striped" id="myTable">
					  <thead>
					    <tr>
					      <th>マイルストーン</th>
					      <th>締め切り</th>
					      <th>優先度</th>
					    </tr>
					  </thead>
					  <tbody>
						<div th:each="milestone : ${milestoneList}">
					    <tr>
					      <td th:text="${milestone.milestone}"></td>
					      <td th:text="${milestone.deadline}"></td>
					      <td th:text="${milestone.priority}"></td>
					    </tr>
					  </tbody>
					</table>
                </div>
                <div class="childItem2">
                    <div class = "mb-3" >
						<form th:action="@{/creationForm}">
							<button type="submit" class="btn btn-primary btn-lg" id="submitBtn">Create</button>	
						</form>
                        
                    </div>
                    <div class = "mb-3" >
						<form th:action="@{/asc}">
                        	<button type="submit" class="btn btn-primary btn-lg" id="submitBtn">昇順</button>
						</form>
                    </div>
                    <div class = "mb-3" >
						<form th:action="@{/desc}">
                        	<button type="submit" class="btn btn-primary btn-lg" id="submitBtn">降順</button>
						</form>
                    </div>
                    
                    <div class = "mb-3" >
						<form th:action="@{/groupby}">
                        	<button type="submit" class="btn btn-primary btn-lg" id="submitBtn">グルーピング</button>
						</form>
                    </div>
    
                </div>
            </div>

        </div>
        


        <!--
        <div>
            
            -->
        </div>
        
        <!--成功パターン2 -->
     <script th:src="@{/js/changeStyle2.js}"></script>
     <script th:inline="javascript">
		 window.addEventListener('DOMContentLoaded', changeStyle([[${type}]]));
	 </script>
        
    </body>

</html>